# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual environments
.venv/

# Django stuff:
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# VSCode / PyCharm / JetBrains
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db